@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

.cards {
	padding: 100px;
}
.card{
	width: 490px;
	height: 490px;
	border-radius: 42px;
	background: url('../../assets/mobile.jpeg');
	font-family: 'Poppins', sans-serif;
}
.cardimg{
	width: 438px;
	height: 374px;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
}
.cardinfo{
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	position: relative;
	left: 250px;
	top: 60px;
	width: 438px;
	height: 374px;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 42px;
}
.heading{
	position: relative;
	left: 10px;
	padding: 10px;
	font-size: 2rem;
}
.subtext{
	position: relative;
	left: 10px;
	padding: 10px;
	font-weight: 300;
	font-size: 1.2rem;
}
.learn {
	position: relative;
	font-weight: 300;
	font-size: 1.2rem;
	color: #cdcdcd;
	left: 300px;
	text-decoration: underline;
}

@media only screen and (max-width: 600px) {
	.card{
		height: 290px;
		width: 290px;
	}
	.cardimg {
		width: 238px;
		height: 174px;
	}
	.cardinfo {
		position: relative;
		left: 110px;
		top: 30px;
		width: 230px;
		height: 230px;
	}
	.heading{
		position: relative;
		left: 10px;
		top: 20px;
		font-size: 1.2rem;
	}
	.subtext{
		position: relative;
		left: 10px;
		font-weight: 300;
		font-size: 0.8rem;
	}
	.learn {
		display: none;
		font-weight: 300;
		font-size: 0.7rem;
		color: #cdcdcd;
		left: 300px;
		text-decoration: underline;
	}
}














