.cards{
	display: flex;
	flex-wrap: wrap;
	padding: 100px;
	justify-content: space-around;
}
.head {
	padding-top: 20px;
	width: 100vw;
	display: flex;
	justify-content:center;
	align-items: center;
}
.heading {
	color: black;
	font-weight: 500;
	font-size: 3.5rem;
}