@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

.Home {
  background-color: #001D41;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}