@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  right: 20px;
  top: 40px;
  z-index: 9999;
  background: #ffffff;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}
.floater{
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 450px;
  z-index: -1;
}
.search{
  position: absolute;
  top: 0px;
  right: 0;
  height: 450px;
  z-index: -1;
}
.technology{
  position: absolute;
  top: 100px;
  left: 0;
  height: 450px;
  z-index: -1;
  -webkit-animation: mover 4s infinite  alternate;
  animation: mover 4s infinite  alternate;
}
.support{
  position: absolute;
  top: 400px;
  right: 0;
  height: 450px;
  z-index: -1;
}
.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}

/* Menu */

.menu {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  padding: 0px;
  transition: all ease 0.3s;
}
.menu ul {
  position: relative;
  font-size: 3rem;
  padding: 100px;
  text-decoration: none;
}
.menu li {
  list-style: outside none none;
  margin: 10px 0px;
  padding: 20px;
  cursor: pointer;
  color: black;
  text-decoration: none; 
}
.menu li:hover {
  color: #F48023;
  transform: scale(1.2);
  transition: all ease 0.3s;
}


@media only screen and (max-width: 600px) {
  .menu ul {
    position: relative;
    font-size: 1.5rem;
    padding-top: 150px;
    color: black;
    text-decoration: none;
  }
  .menu li {
    list-style: outside none none;
    margin: 10px 0px;
    padding: 20px;
    cursor: pointer;
    color: black;
    text-decoration: none; 
  }
  .floater{
    display: none;
  }
  .support{
    display: none;
  }
  .search{
    height: 300px;
    top: -30px;
    right: 20px;
  }
  .technology{
    height: 300px;
    top: 550px;
  }
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-70px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-70px); }
}
